<div class = " wrapper-profile">
  <div class = "profile-container">
    <div class="profile-titles"> 
      <h2 class="my-stuff">My bookings</h2>
    </div>
    <% if current_user.bookings.nil? %>
      <p>No bookings mades yet</p>
    <% else %>
      <% current_user.bookings.reverse.each do |booking| %>
      <div class="cards-profile">
          <div>
            <% if !booking.garden.photos.attached? %>
              <%= image_tag "https://res.cloudinary.com/duxof8o3p/image/upload/v1628185794/pixelart_iokrjw.png", width: 400, height: 300, crop: :fill  %>
            <% else %>
              <%= cl_image_tag booking.garden.photos[0].key, width: 400, height: 300, crop: :fill %>
            <% end %>
          </div>
          <div class = "card-booking-text">
            <h2> <%= link_to booking.garden.title, garden_booking_path(booking.garden, booking)  %></h2> 
            <p> <%= booking.garden.address %></p>
            <p>From <b> <%=  booking.start_date.strftime('%a %d-%m-%y')%></b> to <b><%= booking.end_date.strftime('%a %d-%m-%y') %><b></p>
          </div>
      </div>
      <% end %> 
    <% end %> 
  </div> 
  <div class = "profile-container">
    <div class="profile-titles"> 
      <h2 class="my-stuff">My gardens</h2>
    </div>
      <% if current_user.gardens.nil? %>
        <p>No garden </p>
      <% else %>
        <% current_user.gardens.reverse.each do |garden| %>
        <div class="cards-profile">
            <div>
              <% if !garden.photos.attached? %>
                <%= image_tag "https://res.cloudinary.com/duxof8o3p/image/upload/v1628185794/pixelart_iokrjw.png", width: 400, height: 300, crop: :fill  %>
              <% else %>
                <%= cl_image_tag garden.photos[0].key, width: 400, height: 300, crop: :fill %>
              <% end %>
            </div>
            <div class = " card-booking-text ">
              <h2> <%= link_to garden.title, garden_path(garden) %></h2> 
              <p> <%= garden.address %></p>
            </div>
        </div>
        <% end %> 
      <% end %> 
  </div>
</div>
