<div class="blob">
  <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350">
  <path d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z"/>
    <linearGradient id="header-shape-gradient" x2="0.35" y2="1">
        <stop offset="0%" stop-color="var(--color-stop)" />
        <stop offset="30%" stop-color="var(--color-stop)" />
        <stop offset="100%" stop-color="var(--color-bot)" />
    </linearGradient>
  </svg>
</div>

  <div class = " wrapper-profile">
    <div class = "profile-container">
      <div class="profile-titles"> 
        <h2 class="my-stuff">My bookings</h2>
      </div>
      <% if current_user.bookings.nil? %>
        <p>No bookings mades yet</p>
      <% else %>
        <% current_user.bookings.reverse.each do |booking| %>
        <div class="cards-profile">
            <div>
              <% if !booking.garden.photos.attached? %>
                <%= image_tag "https://res.cloudinary.com/duxof8o3p/image/upload/v1628185794/pixelart_iokrjw.png", width: 400, height: 300, crop: :fill  %>
              <% else %>
                <%= cl_image_tag booking.garden.photos[0].key, width: 400, height: 300, crop: :fill %>
              <% end %>
            </div>
            <div class = "card-booking-text">
              <h2> <%= link_to booking.garden.title, garden_booking_path(booking.garden, booking)  %></h2> 
              <p> <%= booking.garden.address %></p>
              <p>From <b> <%=  booking.start_date.strftime('%a %d-%m-%y')%></b> to <b><%= booking.end_date.strftime('%a %d-%m-%y') %><b></p>
            </div>
        </div>
        <% end %> 
      <% end %> 
    </div> 
    <div class = "profile-container">
      <div class="profile-titles"> 
        <h2 class="my-stuff">My gardens</h2>
      </div>
        <% if current_user.gardens.nil? %>
          <p>No garden </p>
        <% else %>
          <% current_user.gardens.reverse.each do |garden| %>
          <div class="cards-profile">
              <div>
                <% if !garden.photos.attached? %>
                  <%= image_tag "https://res.cloudinary.com/duxof8o3p/image/upload/v1628185794/pixelart_iokrjw.png", width: 400, height: 300, crop: :fill  %>
                <% else %>
                  <%= cl_image_tag garden.photos[0].key, width: 400, height: 300, crop: :fill %>
                <% end %>
              </div>
              <div class = " card-booking-text ">
                <h2> <%= link_to garden.title, garden_path(garden) %></h2> 
                <p> <%= garden.address %></p>
              </div>
          </div>
          <% end %> 
        <% end %> 
    </div>
  </div>
