<div class="wrapper2">
    <div class="container card-form">
      <div class="col-6">
        <% # this checks if there are bookings and shows them if so %>
        <% if @bookings.empty? %>
          <h2>no bookings found for <%= @garden.title %></h2>
        <% else %>
          <p> Found <%=@bookings.reverse.length%> booking/s for <%= @garden.title %></p>
          <% @bookings.each do |booking| %>
            <p> ---- </p>
            <p><%= link_to booking.id, garden_booking_path(@garden, booking)  %></p>
            <p> From <%=  booking.start_date  %></p>
            <p> To <%= booking.end_date %></p>
            <p> ---- </p>
          <% end %>
        <% end %>
        <div class="main_buttons" style="padding: 0px; margin: 0px;">
          <%= link_to "Go back", gardens_path, class: "light-green-button" %> 
          <%= link_to "Create a booking", new_garden_booking_path, class: "light-green-button" %> 
        </div>
      </div>
    </div>
  </div>