<div class="blob">
  <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350">
  <path d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z"/>
    <linearGradient id="header-shape-gradient" x2="0.35" y2="1">
        <stop offset="0%" stop-color="var(--color-stop)" />
        <stop offset="30%" stop-color="var(--color-stop)" />
        <stop offset="100%" stop-color="var(--color-bot)" />
    </linearGradient>
  </svg>
</div>
<div class="container">
  <div class="d-flex">
    <div class="search search-bar w-100 ">
      <%= form_tag gardens_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "search by address",
      style: "border-radius: 20px;"
      %> 
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary search-button" %>
      <% end %>
    </div>
  </div>
</div>

<div class="main-grid">
  <div class="left-grid">
    <div class="scrolling">
      <% @gardens.each do |garden| %>
        <div class="card-garden" data-toggle="modal" data-target="#myModal_<%= garden.id %>">
          <div class="modal fade" id="myModal_<%= garden.id %>" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content popup">
                <div class="modal-header">
                  <h3 class="modal-title" id="popupLabel"><%= garden.title %></h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h4><%= garden.address  %></h3>
                  <p> <%= garden.description %> </p>
                  <p><i class="fab fa-btc bit"></i> <span class="garden_price_info"><%= garden.price%></span></p>  
                </div>
                <div class="modal-footer">
                  <%= link_to "See Garden",  garden_path(garden), class: "light-green-button" %>
                  <%= link_to "See bookings",  garden_bookings_path(garden), class: "light-green-button" %>
                </div>
              </div>
            </div>
          </div>
            <%# if garden.photo.key is present then show below %>
            <% if garden.photos.attached? %>
              <%= cl_image_tag garden.photos[0].key, width: 400, height: 210, crop: :fill   %>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/duxof8o3p/image/upload/v1628185794/pixelart_iokrjw.png", width: 400, height: 210, crop: :fill  %>
              <%# else give a cl_image for a stock image below  %>
            <% end %>
            <div class="card-garden-infos">
              <div>
                <h2><%= link_to garden.title.truncate(39, separator: ' '), garden_path(garden) %></h2>
                <p><%= garden.address.truncate(35, separator: ' ') %></p>
                <%# <p><%= link_to "See bookings", garden_bookings_path(garden) %></p>
              <div class="details">
                <span class="badge badge-pill badge-info badges" > <%= pluralize garden.bookings.count, "Booking" %> </span>
                <span class="badge badge-pill badge-info badges" style = "margin-left: -75px"> <%= pluralize garden.reviews.count, "Review" %> </span>
               
                  <div class= "price">
                    <%= garden.price %> 
                    <i class="fab fa-btc bit"></i> /day
                  </div>
              </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map" class="map"
      style="width: 30%; height: 641px; margin-left: 25px"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div> 
</div>

