<div class="container">
  <div class="d-flex">
    <div class="search search-bar w-100 ">
      <%= form_tag gardens_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "search by address",
      style: "border-radius: 20px;"
      %> 
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary search-button" %>
      <% end %>
    </div>
  </div>
</div>

<div class="main-grid">
  <div class="left-grid">
    <div class="scrolling">
      <% @gardens.each do |garden| %>
        <div class="card-garden" data-toggle="modal" data-target="#myModal_<%= garden.id %>">
          <div class="modal fade" id="myModal_<%= garden.id %>" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content popup">
                <div class="modal-header">
                  <h3 class="modal-title" id="popupLabel"><%= garden.title %></h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h4><%= garden.address  %></h3>
                  <p> <%= garden.description %> </p>
                  <p><i class="fab fa-btc bit"></i> <span class="garden_price_info"><%= garden.price%></span></p>  
                </div>
                <div class="modal-footer">
                  <%= link_to "See Garden",  garden_path(garden), class: "light-green-button" %>
                  <%= link_to "See bookings",  garden_bookings_path(garden), class: "light-green-button" %>
                </div>
              </div>
            </div>
          </div>
            <%# if garden.photo.key is present then show below %>
            <% if garden.photos.attached? %>
              <%= cl_image_tag garden.photos[0].key, width: 400, height: 210, crop: :fill   %>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/duxof8o3p/image/upload/v1628185794/pixelart_iokrjw.png", width: 400, height: 210, crop: :fill  %>
              <%# else give a cl_image for a stock image below  %>
            <% end %>
            <div class="card-garden-infos">
              <div>
                <h2><%= link_to garden.title.truncate(39, separator: ' '), garden_path(garden) %></h2>
                <p><%= garden.address.truncate(35, separator: ' ') %></p>
                <p><%= link_to "See bookings", garden_bookings_path(garden) %></p>
              <div class="details">
                <span class="badge badge-pill badge-info badges" > <%= pluralize garden.bookings.count, "Booking" %> </span>
                <span class="badge badge-pill badge-info badges" style = "margin-left: -75px"> <%= pluralize garden.reviews.count, "Review" %> </span>
               
                  <div class= "price">
                    <%= garden.price %> 
                    <i class="fab fa-btc bit"></i> /day
                  </div>
              </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map" class="map"
      style="width: 30%; height: 641px; margin-left: 25px"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div> 
</div>