<div class="blob">
  <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350">
  <path d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z"/>
    <linearGradient id="header-shape-gradient" x2="0.35" y2="1">
        <stop offset="0%" stop-color="var(--color-stop)" />
        <stop offset="30%" stop-color="var(--color-stop)" />
        <stop offset="100%" stop-color="var(--color-bot)" />
    </linearGradient>
  </svg>
</div>
 
<div class="wrapper-show">
  <div class="garden-wrapper">
    <% if !@garden.photos.attached? %>
      <%= image_tag "https://res.cloudinary.com/duxof8o3p/image/upload/v1628185794/pixelart_iokrjw.png", class:"d-block garden-img w-100"  %>

    <% elsif @garden.photos.size == 1 %>
      <img class="d-block garden-img w-100" src="<%= cl_image_path @garden.photos.first.key %>" alt="photo" >

    <% elsif @garden.photos.size > 1 %>
      <div id="carouselExampleIndicators" class="carousel slide">

        <div class="carousel-inner">
          <% @garden.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= "active" if index.zero? %>">
                <img class="d-block garden-img w-100" src="<%= cl_image_path photo.key %>" alt="<%= index.ordinalize %> image">
            </div>
          <% end %>
        </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    <% end %>
  </div>

  <div class="garden-info">
    <div class="garden-text">
      <h1><%= @garden.title %></h1>
      <h2><%=@garden.address  %></h2>
      <p> <%=@garden.description %> </p>
    </div>
    <div class="garden-price-btn">
      <p><i class="fab fa-btc bit"></i> <span class="garden_price_info"><%= @garden.price%></span></p>
    </div>
      <div>
      <% if current_user == @garden.user %>
        <div class="main_buttons">
          <%= link_to "All Gardens", gardens_path, class: "light-green-button" %>
          <%= link_to "Profile", profile_path, class: "light-green-button" %>
        </div>
      <% else %>
       <div class="main_buttons">
          <%= link_to "book now", new_garden_booking_path(@garden, @booking), class: "light-green-button" %>
          <%= link_to "go back to gardens", gardens_path, class: "light-green-button" %>
        </div>
      <% end %>         
      </div>
  </div>


    <div class="reviews">
        <div class="display-reviews">
          <% if @garden.reviews.empty? %>
            <p>Be the first to leave a review!</p>
          <% else %>
            <% @sum = 0 %>
            <% @garden.reviews.each do |review| %>
              <% @sum += review.rating %>
            <% end %>
            <% @garden_rating = @sum.fdiv(@garden.reviews.length) %>
            
            <% @garden.reviews.each do |review| %>
            <p><% review.rating.times do %>
              💚
              <% end %>
            </p>
            <p><%= review.content %></p>
            <% if review.user == current_user %>
              <%= link_to review_path(review), method: :delete,
                  data: { confirm: "Are you sure?" } do %>
              <p class="text-success"><i class="fas fa-trash"></i> Delete</p>
              <% end %>
            <% end %>
            <% unless review == @garden.reviews.last %>
              <hr>
            <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="new-review">
          <%= render "review", garden: @garden, review: @review %>
        </div>
    </div>
 </div>
